@using Abc.MvcWebUI.Entity
@model IEnumerable<Abc.MvcWebUI.Models.AdminOrderModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container pb-5">
    <h2>Siparişler</h2>
    <hr />
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Kimlik Numarası</th>
                    <th>Sipariş Numarası</th>
                    <th>Sipariş Tarihi</th>
                    <th>Sipariş Durumu</th>
                    <th>Ürün Sayısı</th>
                    <th>Toplam Fiyat</th>
                    <th>İşlemler</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.OrderNumber</td>
                        <td>@item.OrderDate</td>
                        <td>
                            @if (item.OrderState == EnumOrderState.Waiting)
                            {
                                <span class="badge-danger">Onay Bekliyor</span>
                            }
                            else if (item.OrderState == EnumOrderState.Supplied)
                            {
                                <span class="badge-warning">Tedarik Sürecinde</span>
                            }
                            else if (item.OrderState == EnumOrderState.Shipping)
                            {
                                <span class="badge-primary">Kargoda</span>
                            }
                            else if (item.OrderState == EnumOrderState.Completed)
                            {
                                <span class="badge-success">Sipariş Tamamlandı</span>
                            }
                        </td>
                        <td>@item.Count</td>
                        <td>@item.Total</td>
                        <td>
                            @Html.ActionLink("Detay", "Details", new { id = @item.Id }, new { @class = "btn btn-primary btn-sm" })
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Sitemizden Henüz Hiçbir Alışveriş Yapılmamıştır.
        </div>
    }
</div>

